html {
  font-family: Inter UI,sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #192735; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(4, min-content);
  grid-template-columns: 1fr repeat(8, minmax(min-content, 10rem)) 1fr; }
  .container > * {
    font-size: 1rem;
    padding: 40px; }

.paragraph {
  font-size: 1.6rem;
  opacity: .8;
  color: #192735;
  display: block; }

.simple__link {
  color: #192735; }

.header {
  background-color: green; }
  .header__heading-1 {
    font-family: Averia Gruesa Libre,serif;
    color: #192735;
    font-size: 4.5rem;
    margin-bottom: 1.6rem; }
  .header img {
    height: 12rem;
    width: 12rem; }

.projects {
  background-color: pink; }

.resume {
  background-color: red; }

.gallery {
  background-color: blue; }

.contact {
  background-color: aqua; }
