@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-2px); }
  100% {
    opacity: 1; } }

@keyframes infinateArrow {
  0% {
    opacity: 0; }
  75% {
    transform: translateY(-2px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; }

.body {
  color: #192735;
  font-weight: 300;
  line-height: 24px; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(4, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .container > * {
    padding: 40px; }

.margin-bottom-small {
  margin-bottom: 1.5rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-large {
  margin-bottom: 6rem; }

.margin-bottom-xl {
  margin-bottom: 8rem; }

.heading-3 {
  color: #d0021b;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: 1px; }

.paragraph {
  font-size: 1.2rem;
  line-height: 2rem;
  opacity: .8;
  color: #192735;
  display: block; }

.paragraph-light {
  color: #747373;
  line-height: 1.4rem; }

.colored__link {
  color: #192735; }
  .colored__link-1:hover {
    color: #00ffb3; }
  .colored__link-2:hover {
    color: #8400ff; }

.simple__link {
  text-decoration: none;
  color: #747373; }

.btn {
  background-color: transparent;
  font-family: inherit;
  padding: .5rem 1rem;
  text-decoration: none;
  border: 1px solid #747373;
  color: #747373;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: 1px; }
  .btn:hover {
    color: #192735 !important;
    border: 1px solid #192735;
    transition: .2s; }

.header {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  animation: fadeIn 4s; }
  .header__heading-1 {
    font-family: serif;
    color: #192735;
    font-size: 4rem;
    margin-bottom: 1rem; }
  .header img {
    height: 12rem;
    width: 11rem; }
  .header i {
    color: #d0021b;
    font-size: 1.6rem;
    animation: infinateArrow 1s infinite;
    padding-top: 1rem; }

.Project {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 20% 80%;
  justify-items: center; }
  .Project .Projects {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(3, 100%);
    grid-gap: 2rem; }
    .Project .Projects img {
      height: 7rem;
      width: 11rem; }

.resume {
  grid-column: center-start / center-end;
  background-color: red; }

.gallery {
  grid-column: center-start / center-end;
  background-color: blue; }

.contact {
  grid-column: center-start / center-end;
  background-color: aqua; }
