.header {
    grid-column: col-start 1 / col-end;
    
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: 100%;
  

    &__heading-1 {
        font-family: Averia Gruesa Libre,serif;
        color: #192735;
    }

    img {
        height: 10rem;
        width: 10rem;
    }
}