.header {
    grid-column: center-start / center-end;
    
    &__heading-1 {
        font-family: Averia Gruesa Libre,serif;
        color: #192735;
    }

    img {
        height: 10rem;
        width: 10rem;
    }
}