.Project {
    grid-column: center-start / center-end;
    
    display: grid;
    grid-template-columns: 20% 80%;
    justify-items: center;
  

    .Projects {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: repeat(3, 100%);
        grid-gap: 2rem;
        // align-self: center;
        // align-items: center;
        .container {
            
        }
     
        img{
            height: 7rem;
            width: 11rem;
        }
    }
}
