.paragraph {
   font-size: 1.2rem;
   line-height: 2.2rem;
   opacity: .8;
   color: $color-grey-dark-3;
   display: block;
   
}

.simple__link{
    color: $color-grey-dark-3;
   
    &-1{
        &:hover {
            color: #00ffb3;
        }
    }
    &-2{
        &:hover {
            color: #8400ff;
        }
    }
}