.heading-3 {
    color: $color-red;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 1px;
}

.paragraph {
   font-size: 1.2rem;
   line-height: 2rem;
   opacity: .8;
   color: $color-grey-dark-3;
   display: block;
   
}

.paragraph-light{
    color: $color-grey-light-1;
}
.simple__link{
    color: $color-grey-dark-3;
   
    &-1{
        &:hover {
            color: #00ffb3;
        }
    }
    &-2{
        &:hover {
            color: #8400ff;
        }
    }
}